include dash_ijack_components/*.min.js
include dash_ijack_components/*.min.js.map
include dash_ijack_components/async-*.js
include dash_ijack_components/async-*.js.map
include dash_ijack_components/*-shared.js
include dash_ijack_components/*-shared.js.map
include dash_ijack_components/metadata.json
include dash_ijack_components/package-info.json
include README.md
include LICENSE
include package.json
