include dash_signature/*.min.js
include dash_signature/*.min.js.map
include dash_signature/async-*.js
include dash_signature/async-*.js.map
include dash_signature/*-shared.js
include dash_signature/*-shared.js.map
include dash_signature/metadata.json
include dash_signature/package-info.json
include README.md
include LICENSE
include package.json
